---
Checks: "-*,\
 cert-*,\
 bugprone-*,\
 clang-analyzer-*,\
 misc-*,\
 -clang-analyzer-optin.performance.Padding,\
 -bugprone-easily-swappable-parameters,\
 -misc-include-cleaner"
FormatStyle:     Linux
WarningsAsErrors: "*"
...

